.hero__title {
    font-size: var(--font-size-display);
    letter-spacing: var(--letter-spacing-tight);
    font-optical-sizing: auto;
}

.hero__text {
    letter-spacing: var(--letter-spacing-roomy);
    font-size: var(--font-size-body);
}

.hero__eyebrow {
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-wide);
    font-weight: var(--font-weight-bold);
    font-style: bold;
}